---
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";

interface Props {
  metatitle: string;
  metadescrip: string;
  slug: string;
}

const { metatitle, metadescrip, slug } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-9B68JCHX2D"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-9B68JCHX2D");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={metadescrip} />
    <meta name="robots" content="all" />
    <!-- SEO Meta Tags -->
    <meta name="author" content="Tasas Venezuela" />
    <link rel="canonical" href={`https://tasasvenezuela.vercel.app/${slug}`} />
    <meta
      name="keywords"
      content="dólar, euro, USDT, BCV, Venezuela, tasas de cambio, bolívares, conversión de divisas"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={metatitle} />
    <meta property="og:description" content={metadescrip} />
    <meta
      property="og:url"
      content={`https://tasasvenezuela.vercel.app/${slug}`}
    />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={metatitle} />
    <meta name="twitter:description" content={metadescrip} />
    <meta
      property="twitter:url"
      content={`https://tasasvenezuela.vercel.app/${slug}`}
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{metatitle}</title>
  </head>
  <body>
    <slot />
    <Analytics />
  </body>
</html>
